@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #fff;
    --grey: #a19f9f;
    --font-sm: 1rem;
    --font-md: 1.3rem;
    --font-lg: 2rem;
    --font-ex: 7rem;
    --fredoka: 'Fredoka', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --monospace: 'Share Tech Mono', monospace;
}

.wrapper-container {
    padding: 0 3%;
    width: 100vw;
    height: auto;
    /* overflow: hidden; */
    color: var(--white);
    background-size: cover;
    font-size: var(--font-sm);
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Images/hero.jpg);

}


/* NAVIGATION BAR */
.navigation-bar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* LOGO TEXT */
.logo {
    width: 0px;
    display: flex;
    overflow: hidden;
    animation: lefts forwards 2s ease-in;
}

.logo a {
    color: var(--white);
    text-decoration: none;
    font-size: var(--font-lg);
    font-family: var(--monospace);
}

/* LOGO TEXT ANIMATION */
@keyframes lefts {
    from {
        width: 0px;
    }

    to {
        width: 150px;
    }
}


/* HAMBURGER MENU */
.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke-width: 3;
    stroke: var(--black);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dashoffset: 600ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}


/* NAVIGATION LINKS */
.nav-links {
    gap: 30px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.nav-link {
    width: 0px;
    display: flex;
    font-weight: bold;
    padding: 10px 45px;
    position: relative;
    color: var(--white);
    align-items: center;
    text-decoration: none;
    justify-content: center;
    font-size: var(--font-md);
    transition: width .5s ease;
    font-family: var(--monospace);
}

.nav-link:hover {
    width: 65px;
}

.nav-link::after {
    content: '';
    bottom: 0;
    height: 3px;
    width: inherit;
    margin: 0 auto;
    position: absolute;
    border-radius: 30px;
    background-color: var(--white);
}

.btn {
    width: 151px;
    height: 43px;
    border: none;
    cursor: pointer;
    padding: .8rem 2rem;
    border-radius: 10px;
    color: var(--black);
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px 0 var(--black);
}

.cta {
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
    font-size: var(--font-sm);
    font-family: var(--monospace);
}

.cta:hover {
    font-size: calc(2 - var(--font-sm));
}

.btn:hover {
    scale: 1.1;
    box-shadow: 5px 4px 0 0 var(--grey);
    transform: translateY(-4px) translateX(-2px);
}

.btn:active {
    scale: .9;
    box-shadow: 5px 4px 0 0 var(--black);
    transform: translateY(2px) translateX(1px);
}

.animation-text {
    display: flex;
    height: 40px;
    color: #fff;
    overflow: hidden;
    padding: 10px 0px;
    width: fit-content;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: var(--fredoka);
}



/* HERO SECTION */
.hero-container {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.hero-header {
    padding: 15px;
    line-height: 0.5;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: var(--font-ex);
    font-family: var(--monospace);
}


/* ANIMATION TEXT */
.animation-text {
    height: 70px;
    padding: 70px;
}

.title {
    font-weight: normal;
    color: var(--white);
    font-family: var(--fredoka);
    font-size: calc(1.5 * var(--font-lg));
}

.title::before {
    content: '';
    animation: title linear 10s infinite;
}

@keyframes title {
    0% {
        content: 'Front-End Developer 👨🏾‍💻';
    }

    50% {
        content: 'UI Engineer 📍';
    }

    100% {
        content: 'Web Designer 💻';
    }
}

.intro {
    width: 100%;
    height: 110px;
    line-height: 1.5;
    max-width: 550px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 1px;
    font-family: var(--montserrat);
    font-size: calc(2px + var(--font-sm));
}



/* FOOTER */
.footer-container {
    top: 50%;
    right: 3%;
    gap: 40px;
    display: flex;
    position: fixed;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}

.footer-links {
    gap: 30px;
    display: flex;
    list-style: none;
    flex-direction: column;
}

.fa-brands {
    color: var(--white);
    transition: all .5s ease;
    font-size: calc(1.5 * var(--font-sm));
}

.fa-brands:hover {
    transform: rotate(360deg);
}

.fa-whatsapp:hover {
    color: #25D366;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-instagram:hover {
    color: #d62976;
}

.fa-twitter:hover:hover {
    color: #1DA1F2;
}

.fa-linkedin:hover {
    color: #0e76a8;
}

.fa-github:hover {
    color: #000000c7;
}
















/* CONTACT ME PAGE */
.contact-container {

    height: 100vh;
    width: 100vw;

    padding: 0 3%;
    overflow: hidden;
    color: var(--white);
    text-transform: uppercase;
    font-size: var(--font-sm);
    font-family: var(--montserrat);

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url(Images/contact.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contact-content {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form {
    gap: 20px;
    display: flex;
    padding: 30px;
    max-width: 500px;
    position: relative;
    border-radius: 10px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.554);
}

.message {
    color: var(--white);
    font-size: var(--font-sm);
}

.flex {
    gap: 6px;
    width: 100%;
    display: flex;
}

.form label {
    position: relative;
}

.form label .input {
    outline: 0;
    width: 100%;
    border-radius: 5px;
    color: var(--white);
    letter-spacing: 1px;
    font-size: var(--font-sm);
    padding: 30px 30px 45px 30px;
    background-color: transparent;
    border: 3px solid var(--white);
}

.form label .input+span {
    top: 20px;
    left: 10px;
    cursor: text;
    position: absolute;
    color: var(--white);
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 15px;
    font-size:0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
    top: 7px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid+span {
    color: green;
}

.input01 {
    outline: 0;
    width: 100%;
    border-radius: 5px;
    color: var(--white);
    padding: 10px 10px 20px 10px;
    background-color: transparent;
    border: 3px solid var(--white);
}

.form label .input01+span {
    position: absolute;
    left: 10px;
    top: 50px;
    color: var(--white);
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input01:placeholder-shown+span {
    top: 40px;
    font-size: 0.9em;
}

.form label .input01:focus+span,
.form label .input01:valid+span {
    top: 62px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input01:valid+span {
    color: green;
}

.fancy {
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    border: 3px solid var(--white);
    border-radius: 0px;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    font-size: var(--font-sm);
}

.fancy::before {
    content: " ";
    width: 1.7rem;
    height: 2px;
    top: 50%;
    left: 1.5em;
    position: absolute;
    background: var(--white);
    transform-origin: center;
    transform: translateY(-50%);
    transform: translateX(230%);
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    line-height: 1.5em;
    padding-left: 2em;
    display: block;
    text-align: left;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    transform: translateX(30%);
    transition: all 0.3s ease-in-out;
    font-size: calc(1.2 * var(--font-sm));
}

.fancy .top-key {
    height: 2px;
    top: -2px;
    left: 0.625rem;
    width: 1.5625rem;
    position: absolute;
    background: rgb(15, 12, 5);
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: rgb(15, 12, 5);
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: rgb(15, 12, 5);
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: var(--black);
    background: var(--white);
}

.fancy:hover::before {
    width: 1.5rem;
    background: var(--black);
}

.fancy:hover .text {
    color: var(--black);
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}









