@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #fff;
    --grey: #a19f9f;
    --font-sm: 1rem;
    --font-md: 1.3rem;
    --font-lg: 2rem;
    --font-ex: 7rem;
    --fredoka: 'Fredoka', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --monospace: 'Share Tech Mono', monospace;
}

.wrapper-container {
    padding: 0 3%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: var(--white);
    background-size: cover;
    font-size: var(--font-sm);
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.50),
            rgba(0, 0, 0, 0.50)),
        url(Images/hero.jpg);

}


/* NAVIGATION BAR */
.navigation-bar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* LOGO TEXT */
.logo {
    width: 0px;
    display: flex;
    overflow: hidden;
    animation: lefts forwards 2s ease-in;
}

.logo a {
    color: var(--white);
    text-decoration: none;
    font-size: var(--font-lg);
    font-family: var(--monospace);
}

/* LOGO TEXT ANIMATION */
@keyframes lefts {
    from {
        width: 0px;
    }

    to {
        width: 150px;
    }
}


/* HAMBURGER MENU */
.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke-width: 3;
    stroke: var(--black);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dashoffset: 600ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}


/* NAVIGATION LINKS */
.nav-links {
    gap: 30px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.nav-link {
    width: 0px;
    display: flex;
    font-weight: bold;
    padding: 10px 45px;
    position: relative;
    color: var(--white);
    align-items: center;
    text-decoration: none;
    justify-content: center;
    font-size: var(--font-md);
    transition: width .5s ease;
    font-family: var(--monospace);
}

.nav-link:hover {
    width: 65px;
}

.nav-link::after {
    content: '';
    bottom: 0;
    height: 3px;
    width: inherit;
    margin: 0 auto;
    position: absolute;
    border-radius: 30px;
    background-color: var(--white);
}

.btn {
    width: 151px;
    height: 43px;
    border: none;
    cursor: pointer;
    padding: .8rem 2rem;
    border-radius: 10px;
    color: var(--black);
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px 0 var(--black);
}

.cta {
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
    font-size: var(--font-sm);
    font-family: var(--monospace);
}

.cta:hover {
    font-size: calc(2 - var(--font-sm));
}

.btn:hover {
    scale: 1.1;
    box-shadow: 5px 4px 0 0 var(--grey);
    transform: translateY(-4px) translateX(-2px);
}

.btn:active {
    scale: .9;
    box-shadow: 5px 4px 0 0 var(--black);
    transform: translateY(2px) translateX(1px);
}

.animation-text {
    display: flex;
    height: 40px;
    color: #fff;
    overflow: hidden;
    padding: 10px 0px;
    width: fit-content;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: var(--fredoka);
}



/* HERO SECTION */
.hero-container {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.hero-header {
    padding: 15px;
    line-height: 0.5;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: var(--font-ex);
    font-family: var(--monospace);
}


/* ANIMATION TEXT */
.animation-text {
    height: 70px;
    padding: 70px;
}

.title {
    font-weight: normal;
    color: var(--white);
    font-family: var(--fredoka);
    font-size: calc(1.5 * var(--font-lg));
}

.title::before {
    content: '';
    animation: title linear 10s infinite;
}

@keyframes title {
    0% {
        content: 'Front-End Developer 👨🏾‍💻';
    }

    50% {
        content: 'UI Engineer 📍';
    }

    100% {
        content: 'Web Designer 💻';
    }
}

.intro {
    width: 100%;
    height: 110px;
    line-height: 1.5;
    max-width: 550px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 1px;
    font-family: var(--montserrat);
    font-size: calc(2px + var(--font-sm));
}



/* FOOTER */
.footer-container {
    top: 50%;
    right: 3%;
    gap: 40px;
    display: flex;
    position: fixed;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}

.footer-links {
    gap: 30px;
    display: flex;
    list-style: none;
    flex-direction: column;
}

.fa-brands {
    color: var(--white);
    transition: all .5s ease;
    font-size: calc(1.5 * var(--font-sm));
}

.fa-brands:hover {
    transform: rotate(360deg);
}

.fa-whatsapp:hover {
    color: #25D366;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-instagram:hover {
    color: #d62976;
}

.fa-twitter:hover:hover {
    color: #1DA1F2;
}

.fa-linkedin:hover {
    color: #0e76a8;
}

.fa-github:hover {
    color: #000000c7;
}